# Secrets
.env
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Testing
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.tox/
.hypothesis/
*.cover
.cache
nosetests.xml
coverage/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.project
.pydevproject
.settings/

# Mac system files
.DS_Store

# Logs
*.log

# Database
*.db
*.sqlite3

# Jupyter
.ipynb_checkpoints

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json
